// variables.less
$theme-primary: #2a7ae2;
$theme-secondary: #828282;
$theme-dark: #222;
$theme-link: $theme-primary;
$theme-link-hover: darken($theme-primary, 10%);
$theme-footer-content: white;
$theme-footer-heading: $theme-secondary;
//$theme-primary: #F05F40;
